POSTGRES_DB=baires_torneos
POSTGRES_USER=baires
POSTGRES_PASSWORD=change-this-postgres-password

JWT_SECRET=change-this-with-openssl-rand-base64-32

FRONTEND_URL=https://baires-torneos.com
ADMIN_URL=https://admin.baires-torneos.com
API_PUBLIC_URL=https://api.baires-torneos.com
NEXT_PUBLIC_API_URL=https://api.baires-torneos.com/api

ADMIN_EMAIL=admin@baires-torneos.com
ADMIN_PASSWORD=change-this-admin-password
