**/node_modules/
**/.next/
**/dist/
**/coverage/
**/*.tsbuildinfo

backend/.env
backend/uploads/**
!backend/uploads/.gitkeep
!backend/uploads/team-badges/
!backend/uploads/team-badges/.gitkeep
!backend/uploads/player-photos/
!backend/uploads/player-photos/.gitkeep
!backend/uploads/team-photos/
!backend/uploads/team-photos/.gitkeep
!backend/uploads/tournament-logos/
!backend/uploads/tournament-logos/.gitkeep

*.log
